In [ ]:
import pandas as pd

In [59]:
# Load the dataset
file_path = './synthetic_size_chart_data.csv'
data = pd.read_csv(file_path)
data.head()

,User ID,Height (cm),Weight (kg),Chest (cm),Waist (cm),Hip (cm),Age,Gender,Product ID,Category,...,Fit Feedback,Return/Exchange Date,Reason for Return,Size Exchanged,Final Outcome,Cluster ID,Cluster Description,Brand ID,Generated Size Chart,Confidence Scores
0,1,188,74,82,87,90,42,Male,101,Bottoms,...,1,7/15/2023,NaN,XL,Returned,C01,Tall and Athletic,B03,"M: 0.95, L: 0.80",High
1,2,178,79,80,72,113,25,Female,121,Tops,...,1,NaN,Changed Mind,NaN,Returned,C04,Tall and Athletic,B02,"M: 0.95, L: 0.80",Medium
2,3,164,67,82,76,90,22,Male,144,Bottoms,...,0,7/25/2023,NaN,S,Kept,C04,Athletic Build,B03,"L: 0.93, XL: 0.86",Low
3,4,157,60,104,68,102,39,Female,137,Tops,...,0,7/20/2023,NaN,M,Kept,C04,Petite,B04,"L: 0.93, XL: 0.86",Low
4,5,170,78,84,80,106,27,Female,106,Dresses,...,0,7/15/2023,Incorrect Size,S,Returned,C01,Tall and Athletic,B03,"XS: 0.90, S: 0.85",High

In [60]:
data = data.drop(['User ID','Age', 'Gender', 'Product ID', 'Category','Fit Feedback', 'Return/Exchange Date', 'Reason for Return','Final Outcome', 'Cluster ID', 'Cluster Description',
       'Brand ID','Generated Size Chart', 'Confidence Scores'], axis=1)
data.head()

,Height (cm),Weight (kg),Chest (cm),Waist (cm),Hip (cm),Size Purchased,Size Exchanged
0,188,74,82,87,90,S,XL
1,178,79,80,72,113,M,NaN
2,164,67,82,76,90,L,S
3,157,60,104,68,102,XS,M
4,170,78,84,80,106,XL,S

In [61]:
# # Fill missing values by direct assignment
# data['Return/Exchange Date'] = data['Return/Exchange Date'].fillna('No Return')
# data['Reason for Return'] = data['Reason for Return'].fillna('No Reason')
# data['Size Exchanged'] = data['Size Exchanged'].fillna('No Exchange')
# data = data.dropna()
# data.head()

In [50]:
data.columns

Index(['User ID', 'Height (cm)', 'Weight (kg)', 'Chest (cm)', 'Waist (cm)',
       'Hip (cm)', 'Age', 'Gender', 'Product ID', 'Category', 'Size Purchased',
       'Fit Feedback', 'Return/Exchange Date', 'Reason for Return',
       'Size Exchanged', 'Final Outcome', 'Cluster ID', 'Cluster Description',
       'Brand ID', 'Generated Size Chart', 'Confidence Scores'],
      dtype='object')

In [64]:
# Filter out records with non-NA 'Size Exchanged'
df_non_na = data.dropna(subset=['Size Exchanged'])
df_na = data[data['Size Exchanged'].isna()]

In [66]:
# Features and target
X = df_non_na[['Height (cm)',	'Weight (kg)',	'Chest (cm)',	'Waist (cm)',	'Hip (cm)',	'Size Purchased']]  # Adjust to include relevant columns
y = df_non_na['Size Exchanged']

# Encoding categorical variables, if needed
X = pd.get_dummies(X, drop_first=True)

In [69]:
# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the SVM model
svm_model = SVC(kernel='rbf', C=1.0)  # Adjust C and kernel as needed
svm_model.fit(X_train, y_train)

# Predict and evaluate on validation set
y_pred = svm_model.predict(X_val)
print("Validation Accuracy:", accuracy_score(y_val, y_pred))
print(classification_report(y_val, y_pred))

Validation Accuracy: 0.24596273291925466
              precision    recall  f1-score   support

           L       0.24      0.46      0.32       404
           M       0.00      0.00      0.00       418
           S       0.24      0.28      0.26       379
          XL       0.26      0.25      0.25       409

    accuracy                           0.25      1610
   macro avg       0.19      0.25      0.21      1610
weighted avg       0.18      0.25      0.21      1610

c:\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [82]:
df_na

,Height (cm),Weight (kg),Chest (cm),Waist (cm),Hip (cm),Size Purchased,Size Exchanged
1,178,79,80,72,113,M,L
6,168,75,82,93,99,M,L
7,172,72,83,93,91,M,L
10,173,73,102,65,88,XL,S
20,151,51,89,69,88,S,L
...,...,...,...,...,...,...,...
9963,186,76,84,82,97,XL,L
9969,158,65,106,89,114,L,XL
9989,170,70,84,65,97,XS,L
9991,160,63,108,69,92,S,S
9999,169,72,108,73,94,XL,S

In [84]:
# Predict 'Size Exchanged' for rows with NA values
X_na = df_na[['Height (cm)',	'Weight (kg)',	'Chest (cm)',	'Waist (cm)',	'Hip (cm)',	'Size Purchased']]
X_na = pd.get_dummies(X_na, drop_first=True)

# Ensure alignment of dummy variables between train and NA data
X_na = X_na.reindex(columns=X_train.columns, fill_value=0)

# Make predictions for NA values
df_na['Size Exchanged'] = svm_model.predict(X_na)

# Combine the datasets
df_final = pd.concat([df_non_na, df_na])

C:\Users\shank\AppData\Local\Temp\ipykernel_27116\3913053520.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na['Size Exchanged'] = svm_model.predict(X_na)

In [85]:
df_final

,Height (cm),Weight (kg),Chest (cm),Waist (cm),Hip (cm),Size Purchased,Size Exchanged
0,188,74,82,87,90,S,XL
2,164,67,82,76,90,L,S
3,157,60,104,68,102,XS,M
4,170,78,84,80,106,XL,S
5,188,66,86,90,87,XS,M
...,...,...,...,...,...,...,...
9963,186,76,84,82,97,XL,L
9969,158,65,106,89,114,L,XL
9989,170,70,84,65,97,XS,L
9991,160,63,108,69,92,S,S
9999,169,72,108,73,94,XL,S

In [86]:
# Save cleaned data to a new CSV file
cleaned_file_path = 'cleaned_size_chart_data.csv'
df_final.to_csv(cleaned_file_path, index=False)

print(f"Cleaned dataset saved as {cleaned_file_path}")

Cleaned dataset saved as cleaned_size_chart_data.csv